* {
  box-sizing: border-box;
}

header {background-color: rgba(0, 0, 0, 0.925); }
header h1 {display: flex; justify-content: center; color: white;}
header #logo img {display: flex; justify-content: flex-start;width: 150px; border-radius: 10px;}
body {
  background-image: url(../img/bg1.jpg);
}





/*disposition carte et cadre gauche*/
.main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  

}

/*carte*/
#map {
  
  height: 500px;
  width: 1000px;
  border: #5e0101 solid;
  border-radius: 15px;
  
  
}

/*background rouge gauche*/
.search{ 
  display: flex;
    border: #272727 solid;
    margin-right: 20px;
    background-color: #800703;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    justify-content: center;
    flex-direction: row;
}

/*bouton de recherche*/
.brecherche {
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #ff0000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border: 3px solid #000000;
  box-shadow: 5px 4px 12px #ff0000;
  -webkit-box-shadow: 5px 4px 12px #ff0000;
  -moz-box-shadow: 5px 4px 12px #ff0000;
  }

/*mise en forme cadre recherche gauche */
#search-form{
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
  flex-direction: column;
  

}

/*barre de recherche*/
#site-search{
   height: 30px;
   width: 220px;
   border: 2px#000000 solid;
   border-radius: 5px;
}

/*cadre blanc gauche (ou les info s'affiche)*/
#search-results {
  background-color: #f3f3f3;
  height: 250px;
  width: 240px;
  margin-top: 25px;
  border: 2px solid #000000;
  border-radius: 5px;
  
}

p{
  color: white;
 
}

/*texte dans footer*/
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(50, 57, 59);
  background: linear-gradient(
    90deg,
    rgba(50, 57, 59, 1) 0%,
    rgb(205, 216, 216) 36%,
    rgba(164, 164, 164, 1) 53%,
    rgb(218, 214, 214) 68%,
    rgba(94, 94, 94, 1) 100%
  );
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100px;
}

#footerr section p {

  display: flex; 
  justify-content: center; 
  width: 80%; bottom: 0; }